h1{
    background-color: gray;
}


form.join-area{
    width: 400px;
    height: 250px;
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: repeat(5,1fr);
    place-items: center center;
}
form.join-area > input:not(:last-child){
    width: 90%;
    height: 60%;
    font-size: 1.2em;

}

form.join-area> input:last-child{
    grid-column: span 2;
    width: 80%;
    height: 80%;
    border-radius: 5px;

}